<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.scorpion.mealtohome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MealToHome"
        tools:replace="android:icon">
        <activity
            android:name=".payment.PaymentTypeHitory"
            android:exported="true" />
        <activity
            android:name=".PwymentMathordActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateProfileActivity"
            android:exported="true" />
        <activity
            android:name=".menu.Menu1Chines"
            android:exported="true" />
        <activity
            android:name=".menu.Menu1Italian"
            android:exported="true" />
        <activity
            android:name=".menu.Menu1India"
            android:exported="true" />
        <activity
            android:name=".RagisterActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".menu.Menu3" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".menu.Menu2" />
        <activity
            android:name=".login.Login3"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".login.Login2" />
        <activity android:name=".login.Login1" />
        <activity android:name=".menu.Menu1" />
        <activity
            android:name=".login.Login"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feedback.LeaveAFeedback"
            android:theme="@style/Theme.MealToHome" />
        <activity android:name=".contactus.ThankYouScreen"/>
        <activity android:name=".contactus.ContactUs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".payment.Payment1"
            android:exported="true" />
        <activity
            android:name=".payment.Payment4"
            android:exported="true" />
        <activity
            android:name=".payment.Payment3"
            android:exported="true" />
        <activity
            android:name=".payment.Payment2"
            android:exported="true" />
        <activity
            android:name=".delivery.Delivery2"
            android:exported="true" />
        <activity
            android:name=".delivery.Delivery1"
            android:exported="true" />
        <activity
            android:name=".order.orderhistory"
            android:exported="true" />
        <activity
            android:name=".order.takeaway"
            android:exported="true" />
        <activity
            android:name=".order.Orderdetails"
            android:exported="true" />
    </application>

</manifest>